/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

main {
  background-image: linear-gradient(#f6f1b2, #4599b2);
  position: relative;
  width: 800px;
  margin: 0 auto;
  border: solid 1px #d3d3d3;
}

main header h1 {
  text-align: center;
  font-family: "Ravie";
  font-size: 36px;
  color: #e90c0c;
  padding-left: 100px
}

main header h2 {
  text-align: right;
  font-family: "Trebuchet MS";
  font-size: 24px;
  color: #333;
  margin-right: 50px;
}

main header h2 em {
  color: #d027aa;
  font-style: normal;
}

main section#conteudo {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: "Verdana";
  color: #333;
}

main section#conteudo #lateral {
  width: 154px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main section#conteudo #lateral>img#siri {
  position: absolute;
  top: 0px;
  left: -10px;
}

main section#conteudo #lateral>img#bolhas {
  /* position: absolute; */
  top: 0px;
  left: -10px;
}

main section#conteudo #lateral>img#peixe {
  position: absolute;
  bottom: 0px;
  left: -44px;
}

main section#conteudo #lateral h2 {
  height: 154px;
  font-size: 48px;
  text-align: left;
  transform: rotate(-90deg);
  /* margin-top: 50%; */
  vertical-align: middle;
  line-height: 154px;
}

main section#conteudo #cardapio {
  width: 646px;
  margin: 0;
  background-color: #ffffff20;
  border: solid 1px #aac0ae;
  padding: 10px;
}

main section#conteudo #cardapio h3 {
  font-size: 18px;
  font-weight: bold;
}

main section#conteudo #cardapio>ul {
  list-style: none;
  padding-left: 0px;
  line-height: 2em;
}

main section#conteudo #cardapio>ul .preco {
  float: right;
}

main footer {
  position: relative;
  /* width: 100%; */
  text-align: right;
}

main footer img {
  position: relative;
  right: 15px;
  vertical-align: middle;
  margin-top: 46px;
  margin-bottom: 25px;
}

aside#ticket {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

aside#ticket:hover {
  transform: translate(0%, -50%);
  transition: transform 300ms ease-out; /* propriedade, duração, interpolação */
}
